*{
    --primary-- : rgb(49 54 71);
    --secondary-- : rgb(67 86 99);
    --fontColor-- : rgb(255 248 212);
}

p{
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(163 176 135);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor--);
}

.container{
    background-color: var(--primary--);
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 15px 15px 30px 30px;
    min-width: 30vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    margin-top: 1rem;
    font-size: 28px;
    font-weight: bold;
    margin-left: 1rem;
}

.calculator{
    background-color: var(--secondary--);
    padding: 1.5rem;
    display: grid;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 10px;
    flex: 1;
}

.display{
    display: flex;
    background-color: var(--fontColor--);
    color: var(--primary--);
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 8px;
    border-radius: 5px;
}

.prev-op{
    font-size: 16px;
    color: rgba(65 71 49 /.7);
}

.curr-op{
    font-size: 20px;
    color: var(--primary--);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
    flex: 1;
}

#equal{
    grid-column: 2 / 5;
}

button{
    font-size: 24px;
    font-weight: bold;
    color: var(--fontColor--);
    background-color: var(--primary--);
    border: 0px;
    border-radius: 5px;
}

button:hover{
    color: var(--primary--);
    background-color: var(--fontColor--);
    box-shadow: 5px 5px 5px 5px;
}